* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
}

h1,
#filters {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    color: #6e1c1c;
}

#filters input,
#filters #status-filter {
    padding: 8px 16px;
    margin: 10px;
    border: 0;
    font-size: 18px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}